html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #ccc;
}
.container {
    flex-grow: 1;
    background: #fff;
    padding: 30px 15px;
}
footer {
    background: #222;
    border: 1px solid #080808;
    margin-top: 20px;
    padding: .5em 15px;
    color: #9d9d9d;
    font-size: 10px;
    text-align: center;
}
nav ul {
    display: flex;
    align-items: center;
}
.navbar {
    border-radius: 0;
}
h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1em;
}
label {
    margin-top: 1em;
}
.btn {
    margin-top: 1.5em;
}
.pagination-box {
    text-align: center;
}
.pagination-box .btn {
    margin-top: .5em;
}
.mt-1 {
    margin-top: 1em;
}